# Analyzing Data from the data frames

In [1]:
import pandas as pd

In [2]:
covid_df = pd.read_csv('italy-covid-daywise.csv')
covid_df.tail().style.background_gradient(cmap = 'Reds')

In [3]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

In [4]:
print("Total Number of Cases are {} and Deaths are {}".format(total_cases, total_deaths))

Total Number of Cases are 271515.0 and Deaths are 35497.0

In [5]:
death_rate = total_deaths / total_cases
print("Death Rate is {:.2f} %".format(death_rate * 100))

Death Rate is 13.07 %

In [6]:
total_tests = 935310 + covid_df.new_tests.sum()
total_tests

5214766.0

In [7]:
positive_rate = total_cases / total_tests
print(positive_rate * 100)

5.206657403227681

Let's say we want only want to look at the days which had more than 1000 reported cases. We can use a boolean expression to chech which rows satisfy this criterion.

In [8]:
high_cases = covid_df.new_cases > 1000
high_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [13]:
covid_df[high_cases]       # rows with boolean value True

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [19]:
# or

high_cases_df = covid_df[covid_df.new_cases > 1000]
high_cases_df

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

The data frame contains 72 rows, but only the first 5 & last 5 rows are displayed by default with Jupyter, for brevity. To view, all the rows, we can modify some display options.

In [20]:
from IPython.display import display
with pd.option_context('display.max_row', 100):
    display(covid_df[covid_df.new_cases > 1000])

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
74   2020-03-14     2547.0       252.0        NaN
75   2020-03-15     3497.0       173.0        NaN
76   2020-03-16     2823.0       370.0        NaN
77   2020-03-17     4000.0       347.0        NaN
78   2020-03-18     3526.0       347.0        NaN
79   2020-03-19     4207.0       473.0        NaN
80   2020-03-20     5322.0       429.0        NaN
81   2020-03-21     5986.0       625.0        NaN
82   2020-03-22     6557.0       795.0        NaN
83   2020-03-23     5560.0       649.0        NaN
84   2020-03-24     4789.0       601.0        NaN
85   2020-03-25     5249.0       743.0        NaN
86   2020-03-26     5210.0       685.0        NaN
87   2020-03-27     6153.0       660.0        NaN
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
90   2020-03-30     5217.0       758.0        NaN
91   2020-03-31     4050.0       810.0        NaN
92   2020-04-01     4053.0       839.0        NaN
93   2020-04-02     4782.0       727.0        NaN
94   2020-04-03     4668.0       760.0        NaN
95   2020-04-04     4585.0       764.0        NaN
96   2020-04-05     4805.0       681.0        NaN
97   2020-04-06     4316.0       527.0        NaN
98   2020-04-07     3599.0       636.0        NaN
99   2020-04-08     3039.0       604.0        NaN
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
104  2020-04-13     4092.0       431.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0
121  2020-04-30     2086.0       323.0    41441.0
122  2020-05-01     1872.0       285.0    43732.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
126  2020-05-05     1221.0       195.0    32211.0
127  2020-05-06     1075.0       236.0    37771.0
128  2020-05-07     1444.0       369.0    13665.0
129  2020-05-08     1401.0       274.0    45428.0
130  2020-05-09     1327.0       243.0    36091.0
131  2020-05-10     1083.0       194.0    31384.0
134  2020-05-13     1402.0       172.0    37049.0
236  2020-08-23     1071.0         3.0    47463.0
237  2020-08-24     1209.0         7.0    33358.0
240  2020-08-27     1366.0        13.0    57640.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

We cannot use style attribute with high_cases because high_cases is a Series data structure.
But we can use style attribute with high_cases_df as it is a dataframe not a Series.

In [30]:
high_cases_df.head(200).style.background_gradient(cmap = 'Reds')

In [31]:
positive_rate

0.05206657403227681

In [35]:
# here, we are adding a column 'positive_rate' in the covid_df data frame.

covid_df["positive_rate"] = covid_df.new_cases / covid_df.new_tests
covid_df.head()

         date  new_cases  new_deaths  new_tests  positive_rate
0  2019-12-31        0.0         0.0        NaN            NaN
1  2020-01-01        0.0         0.0        NaN            NaN
2  2020-01-02        0.0         0.0        NaN            NaN
3  2020-01-03        0.0         0.0        NaN            NaN
4  2020-01-04        0.0         0.0        NaN            NaN

In [37]:
covid_df.drop(columns = ['positive_rate'], inplace = True)

# inplace = True  is used to replace the existing dataframe i.e. covid_df after removing the column positive_rate

In [38]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

## Sorting rows using column values

In [42]:
covid_df.sort_values('new_cases', ascending = False).head(10)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN
85  2020-03-25     5249.0       743.0        NaN
90  2020-03-30     5217.0       758.0        NaN
86  2020-03-26     5210.0       685.0        NaN

In [41]:
covid_df.sort_values('new_deaths', ascending = False).head(10)

          date  new_cases  new_deaths  new_tests
88  2020-03-28     5959.0       971.0        NaN
89  2020-03-29     5974.0       887.0        NaN
92  2020-04-01     4053.0       839.0        NaN
91  2020-03-31     4050.0       810.0        NaN
82  2020-03-22     6557.0       795.0        NaN
95  2020-04-04     4585.0       764.0        NaN
94  2020-04-03     4668.0       760.0        NaN
90  2020-03-30     5217.0       758.0        NaN
85  2020-03-25     5249.0       743.0        NaN
93  2020-04-02     4782.0       727.0        NaN

It appears that daily deaths hit a peak just about week after the peak in the daily new cases.

Let's also look at the days with the least number of cases. We might expect to see the first few days of the year in this list.

In [43]:
covid_df.sort_values("new_cases").head(10)

           date  new_cases  new_deaths  new_tests
172  2020-06-20     -148.0        47.0    29875.0
0    2019-12-31        0.0         0.0        NaN
29   2020-01-29        0.0         0.0        NaN
30   2020-01-30        0.0         0.0        NaN
32   2020-02-01        0.0         0.0        NaN
33   2020-02-02        0.0         0.0        NaN
34   2020-02-03        0.0         0.0        NaN
36   2020-02-05        0.0         0.0        NaN
37   2020-02-06        0.0         0.0        NaN
38   2020-02-07        0.0         0.0        NaN

In [44]:
covid_df.loc[168:175]

           date  new_cases  new_deaths  new_tests
168  2020-06-16      301.0        26.0    27762.0
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

If this was indeed a data entry error, we can use one of the following approaches for dealing with the missing or faulty value:

    Replace it with 0.
    Repalce it with the average of the entire column
    Replace it with the average of the values on the previous & next date
    Discard the row entirely

In [47]:
covid_df.at[172, 'new_cases'] = (covid_df.at[171, 'new_cases'] + covid_df.at[173, 'new_cases']) / 2
covid_df.loc[170:174]

           date  new_cases  new_deaths  new_tests
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20      297.5        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0

## Working with dates

In [48]:
covid_df.date

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

In [52]:
# Notice that the dtype is object. This means that pandas don't know that this column contains dates.
# So, we'll change this column dtype to datetime:

covid_df['date'] = pd.to_datetime(covid_df.date)
covid_df.date

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

You can see that it now has the datatype datetime64. We can now extract different parts of the data into separate columns, using the DatetimeIndex class.

In [53]:
covid_df['year'] = pd.DatetimeIndex(covid_df.date).year
covid_df['month'] = pd.DatetimeIndex(covid_df.date).month
covid_df['day'] = pd.DatetimeIndex(covid_df.date).day
covid_df['weekday'] = pd.DatetimeIndex(covid_df.date).weekday

In [54]:
covid_df

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
0   2019-12-31        0.0         0.0        NaN  2019     12   31        1
1   2020-01-01        0.0         0.0        NaN  2020      1    1        2
2   2020-01-02        0.0         0.0        NaN  2020      1    2        3
3   2020-01-03        0.0         0.0        NaN  2020      1    3        4
4   2020-01-04        0.0         0.0        NaN  2020      1    4        5
..         ...        ...         ...        ...   ...    ...  ...      ...
243 2020-08-30     1444.0         1.0    53541.0  2020      8   30        6
244 2020-08-31     1365.0         4.0    42583.0  2020      8   31        0
245 2020-09-01      996.0         6.0    54395.0  2020      9    1        1
246 2020-09-02      975.0         8.0        NaN  2020      9    2        2
247 2020-09-03     1326.0         6.0        NaN  2020      9    3        3

[248 rows x 8 columns]

In [56]:
covid_df_may = covid_df[covid_df.month == 5]
covid_df_may

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
122 2020-05-01     1872.0       285.0    43732.0  2020      5    1        4
123 2020-05-02     1965.0       269.0    31231.0  2020      5    2        5
124 2020-05-03     1900.0       474.0    27047.0  2020      5    3        6
125 2020-05-04     1389.0       174.0    22999.0  2020      5    4        0
126 2020-05-05     1221.0       195.0    32211.0  2020      5    5        1
127 2020-05-06     1075.0       236.0    37771.0  2020      5    6        2
128 2020-05-07     1444.0       369.0    13665.0  2020      5    7        3
129 2020-05-08     1401.0       274.0    45428.0  2020      5    8        4
130 2020-05-09     1327.0       243.0    36091.0  2020      5    9        5
131 2020-05-10     1083.0       194.0    31384.0  2020      5   10        6
132 2020-05-11      802.0       165.0    25823.0  2020      5   11        0
133 2020-05-12      744.0       179.0    39620.0  2020      5   12        1
134 2020-05-13     1402.0       172.0    37049.0  2020      5   13        2
135 2020-05-14      888.0       195.0    41131.0  2020      5   14        3
136 2020-05-15      992.0       262.0    39027.0  2020      5   15        4
137 2020-05-16      789.0       242.0    40657.0  2020      5   16        5
138 2020-05-17      875.0       153.0    33505.0  2020      5   17        6
139 2020-05-18      675.0       145.0    26101.0  2020      5   18        0
140 2020-05-19      451.0        99.0    40226.0  2020      5   19        1
141 2020-05-20      813.0       162.0    38617.0  2020      5   20        2
142 2020-05-21      665.0       161.0    40644.0  2020      5   21        3
143 2020-05-22      642.0       156.0    42987.0  2020      5   22        4
144 2020-05-23      652.0       130.0    42579.0  2020      5   23        5
145 2020-05-24      669.0       119.0    34206.0  2020      5   24        6
146 2020-05-25      531.0        50.0    20676.0  2020      5   25        0
147 2020-05-26      300.0        92.0    33944.0  2020      5   26        1
148 2020-05-27      397.0        78.0    37299.0  2020      5   27        2
149 2020-05-28      584.0       117.0    39838.0  2020      5   28        3
150 2020-05-29      593.0        70.0    38233.0  2020      5   29        4
151 2020-05-30      516.0        87.0    36051.0  2020      5   30        5
152 2020-05-31      416.0       111.0    28948.0  2020      5   31        6

In [61]:
covid_df_may_metrics = covid_df_may[["new_cases", "new_deaths", "new_tests"]]
covid_df_may_metrics

     new_cases  new_deaths  new_tests
122     1872.0       285.0    43732.0
123     1965.0       269.0    31231.0
124     1900.0       474.0    27047.0
125     1389.0       174.0    22999.0
126     1221.0       195.0    32211.0
127     1075.0       236.0    37771.0
128     1444.0       369.0    13665.0
129     1401.0       274.0    45428.0
130     1327.0       243.0    36091.0
131     1083.0       194.0    31384.0
132      802.0       165.0    25823.0
133      744.0       179.0    39620.0
134     1402.0       172.0    37049.0
135      888.0       195.0    41131.0
136      992.0       262.0    39027.0
137      789.0       242.0    40657.0
138      875.0       153.0    33505.0
139      675.0       145.0    26101.0
140      451.0        99.0    40226.0
141      813.0       162.0    38617.0
142      665.0       161.0    40644.0
143      642.0       156.0    42987.0
144      652.0       130.0    42579.0
145      669.0       119.0    34206.0
146      531.0        50.0    20676.0
147      300.0        92.0    33944.0
148      397.0        78.0    37299.0
149      584.0       117.0    39838.0
150      593.0        70.0    38233.0
151      516.0        87.0    36051.0
152      416.0       111.0    28948.0

In [64]:
covid_may_totals = covid_df_may_metrics.sum()
covid_may_totals

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

In [65]:
type(covid_may_totals)

pandas.core.series.Series

In [67]:
# The operations above can also be combined into a single statement

covid_df[covid_df.month == 5][["new_cases", "new_deaths", "new_tests"]].sum()

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

In [69]:
covid_df[covid_df.weekday == 4].new_cases.mean()

1189.7142857142858

## Grouping and aggregation

In [73]:
covid_month = covid_df.groupby('month')
covid_month

We have to aggregate after grouping. Let's aggregate using sum()

In [75]:
covid_month_df = covid_df.groupby('month')[['new_cases', 'new_deaths', 'new_tests']].sum()
covid_month_df

       new_cases  new_deaths  new_tests
month
1            3.0         0.0        0.0
2          885.0        21.0        0.0
3       100851.0     11570.0        0.0
4       101852.0     16091.0   419591.0
5        29073.0      5658.0  1078720.0
6         8217.5      1404.0   830354.0
7         6722.0       388.0   797692.0
8        21060.0       345.0  1098704.0
9         3297.0        20.0    54395.0
12           0.0         0.0        0.0

In [77]:
covid_month_mean_df = covid_df.groupby('weekday')[['new_cases', 'new_deaths', 'new_tests']].mean()
covid_month_mean_df

           new_cases  new_deaths     new_tests
weekday
0        1109.142857  124.800000  19826.700000
1         918.638889  129.944444  31166.900000
2         927.305556  144.750000  34665.210526
3        1095.666667  141.472222  34488.578947
4        1189.714286  144.885714  39225.684211
5        1198.528571  157.000000  34589.473684
6        1247.257143  159.457143  28588.105263

In [92]:
covid_df['total_cases'] = covid_df.new_cases.cumsum()
covid_df['total_deaths'] = covid_df.new_deaths.cumsum()
covid_df['total_tests'] = covid_df.new_tests.cumsum() + 935310

In [93]:
covid_df

,date,new_cases,new_deaths,new_tests,year,month,day,weekday,total_cases,total_deaths,total_tests,location
0,2019-12-31,0.0,0.0,NaN,2019,12,31,1,0.0,0.0,NaN,Italy
1,2020-01-01,0.0,0.0,NaN,2020,1,1,2,0.0,0.0,NaN,Italy
2,2020-01-02,0.0,0.0,NaN,2020,1,2,3,0.0,0.0,NaN,Italy
3,2020-01-03,0.0,0.0,NaN,2020,1,3,4,0.0,0.0,NaN,Italy
4,2020-01-04,0.0,0.0,NaN,2020,1,4,5,0.0,0.0,NaN,Italy
...,...,...,...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,1.0,53541.0,2020,8,30,6,267298.5,35473.0,5117788.0,Italy
244,2020-08-31,1365.0,4.0,42583.0,2020,8,31,0,268663.5,35477.0,5160371.0,Italy
245,2020-09-01,996.0,6.0,54395.0,2020,9,1,1,269659.5,35483.0,5214766.0,Italy
246,2020-09-02,975.0,8.0,NaN,2020,9,2,2,270634.5,35491.0,NaN,Italy
247,2020-09-03,1326.0,6.0,NaN,2020,9,3,3,271960.5,35497.0,NaN,Italy

## Merging data from multiple sources

In [82]:
from urllib.request import urlretrieve
urlretrieve("https://hub.jovian.ml/wp-content/uploads/2020/09/locations.csv", "location.csv")

('location.csv', <http.client.HTTPMessage at 0x7f4dfc6d9790>)

In [84]:
location_df = pd.read_csv("location.csv")
location_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

In [85]:
location_df[location_df.location == "Italy"]

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
97,Italy,Europe,60461828.0,83.51,3.18,35220.084

In [94]:
covid_df['location'] = 'Italy'
covid_df

,date,new_cases,new_deaths,new_tests,year,month,day,weekday,total_cases,total_deaths,total_tests,location
0,2019-12-31,0.0,0.0,NaN,2019,12,31,1,0.0,0.0,NaN,Italy
1,2020-01-01,0.0,0.0,NaN,2020,1,1,2,0.0,0.0,NaN,Italy
2,2020-01-02,0.0,0.0,NaN,2020,1,2,3,0.0,0.0,NaN,Italy
3,2020-01-03,0.0,0.0,NaN,2020,1,3,4,0.0,0.0,NaN,Italy
4,2020-01-04,0.0,0.0,NaN,2020,1,4,5,0.0,0.0,NaN,Italy
...,...,...,...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,1.0,53541.0,2020,8,30,6,267298.5,35473.0,5117788.0,Italy
244,2020-08-31,1365.0,4.0,42583.0,2020,8,31,0,268663.5,35477.0,5160371.0,Italy
245,2020-09-01,996.0,6.0,54395.0,2020,9,1,1,269659.5,35483.0,5214766.0,Italy
246,2020-09-02,975.0,8.0,NaN,2020,9,2,2,270634.5,35491.0,NaN,Italy
247,2020-09-03,1326.0,6.0,NaN,2020,9,3,3,271960.5,35497.0,NaN,Italy

In [95]:
merged_df = covid_df.merge(location_df, on = "location")
merged_df

,date,new_cases,new_deaths,new_tests,year,month,day,weekday,total_cases,total_deaths,total_tests,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,2019-12-31,0.0,0.0,NaN,2019,12,31,1,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
1,2020-01-01,0.0,0.0,NaN,2020,1,1,2,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
2,2020-01-02,0.0,0.0,NaN,2020,1,2,3,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
3,2020-01-03,0.0,0.0,NaN,2020,1,3,4,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
4,2020-01-04,0.0,0.0,NaN,2020,1,4,5,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,1.0,53541.0,2020,8,30,6,267298.5,35473.0,5117788.0,Italy,Europe,60461828.0,83.51,3.18,35220.084
244,2020-08-31,1365.0,4.0,42583.0,2020,8,31,0,268663.5,35477.0,5160371.0,Italy,Europe,60461828.0,83.51,3.18,35220.084
245,2020-09-01,996.0,6.0,54395.0,2020,9,1,1,269659.5,35483.0,5214766.0,Italy,Europe,60461828.0,83.51,3.18,35220.084
246,2020-09-02,975.0,8.0,NaN,2020,9,2,2,270634.5,35491.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
247,2020-09-03,1326.0,6.0,NaN,2020,9,3,3,271960.5,35497.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084

In [100]:
merged_df['cases_per_thousand'] = merged_df.total_cases * 1e3 / merged_df.population
merged_df['deaths_per_thousand'] = merged_df.total_deaths * 1e3 / merged_df.population
merged_df['tests_per_thousand'] = merged_df.total_tests * 1e3 / merged_df.population

In [101]:
merged_df

,date,new_cases,new_deaths,new_tests,year,month,day,weekday,total_cases,total_deaths,total_tests,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,cases_per_thousand,deaths_per_thousand,tests_per_thousand
0,2019-12-31,0.0,0.0,NaN,2019,12,31,1,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,0.000000,0.000000,NaN
1,2020-01-01,0.0,0.0,NaN,2020,1,1,2,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,0.000000,0.000000,NaN
2,2020-01-02,0.0,0.0,NaN,2020,1,2,3,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,0.000000,0.000000,NaN
3,2020-01-03,0.0,0.0,NaN,2020,1,3,4,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,0.000000,0.000000,NaN
4,2020-01-04,0.0,0.0,NaN,2020,1,4,5,0.0,0.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,1.0,53541.0,2020,8,30,6,267298.5,35473.0,5117788.0,Italy,Europe,60461828.0,83.51,3.18,35220.084,4.420946,0.586701,84.644943
244,2020-08-31,1365.0,4.0,42583.0,2020,8,31,0,268663.5,35477.0,5160371.0,Italy,Europe,60461828.0,83.51,3.18,35220.084,4.443523,0.586767,85.349239
245,2020-09-01,996.0,6.0,54395.0,2020,9,1,1,269659.5,35483.0,5214766.0,Italy,Europe,60461828.0,83.51,3.18,35220.084,4.459996,0.586866,86.248897
246,2020-09-02,975.0,8.0,NaN,2020,9,2,2,270634.5,35491.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,4.476122,0.586998,NaN
247,2020-09-03,1326.0,6.0,NaN,2020,9,3,3,271960.5,35497.0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,4.498053,0.587098,NaN

## Writing data back to files

In [102]:
result_df = merged_df[[
    'date',
    'new_cases',
    'total_cases',
    'new_deaths',
    'total_deaths',
    'new_tests',
    'total_tests',
    'cases_per_thousand',
    'deaths_per_thousand',
    'tests_per_thousand',
    'location',
    'continent'
]]

In [103]:
result_df

,date,new_cases,total_cases,new_deaths,total_deaths,new_tests,total_tests,cases_per_thousand,deaths_per_thousand,tests_per_thousand,location,continent
0,2019-12-31,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,NaN,Italy,Europe
1,2020-01-01,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,NaN,Italy,Europe
2,2020-01-02,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,NaN,Italy,Europe
3,2020-01-03,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,NaN,Italy,Europe
4,2020-01-04,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,NaN,Italy,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,267298.5,1.0,35473.0,53541.0,5117788.0,4.420946,0.586701,84.644943,Italy,Europe
244,2020-08-31,1365.0,268663.5,4.0,35477.0,42583.0,5160371.0,4.443523,0.586767,85.349239,Italy,Europe
245,2020-09-01,996.0,269659.5,6.0,35483.0,54395.0,5214766.0,4.459996,0.586866,86.248897,Italy,Europe
246,2020-09-02,975.0,270634.5,8.0,35491.0,NaN,NaN,4.476122,0.586998,NaN,Italy,Europe
247,2020-09-03,1326.0,271960.5,6.0,35497.0,NaN,NaN,4.498053,0.587098,NaN,Italy,Europe

In [104]:
result_df.to_csv('results.csv', index = None)